/* CSS Document */

/* Listagens */
a.acao:link {
	color: #FFFFFF;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #979200;
	border: 1px solid #F3EBDA;
	text-decoration: none;
}
a.acao:visited {
	color: #FFFFFF;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #979200;
	border: 1px solid #F3EBDA;
	text-decoration: none;
}
a.acao:hover {
	color: #000066;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFCC;
	border: 1px solid #FFFFCC;
}

a.menu:link {
	color: #000000;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: bold; 
	background-color: #FFFFFF;
	border: 1px solid #F3EBDA;
	text-decoration: none;
}
a.menu:visited {
	color: #000000;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: bold; 
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	text-decoration: none;
}
a.menu:hover {
	color: #979200;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #FFFFCC;
}

.tabtitulo {
	background-color: #000000;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #424141;
}

.tabdetalhe {
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	border-top: 1px none #000000;
	border-right: 1px none #000000;
	border-bottom: 1px inset #000000;
	border-left: 1px none #000000;
	padding-left: 2px;
}

.titulo { 
 font-weight: bold; 
 font-size: 10px; 
 color: #979200; 
 font-family: verdana, arial, helvetica, sans-serif;
}

.detalhe { 
 font-weight: normal; 
 font-size: 10px; 
 color: #000000; 
 font-family: verdana, arial, helvetica, sans-serif;
}

.topmenu { 
 color: #000099; 
 font-family: verdana, arial, helvetica, sans-serif;
 font-size: 10px;
 font-weight: normal;
 text-decoration : none;
}

a.lnkpag:link { 
 color: #0000CC; 
 font-family: verdana, arial, sans-serif;
 font-size: 10px; 
 font-weight: none; 
 text-decoration: none}
a.lnkpag:visited { 
 color: #0000CC; 
 font-family: verdana, arial, sans-serif;
 font-size: 10px; 
 font-weight: none; 
 text-decoration: none}
a.lnkpag:hover { 
 color: #0000CC; 
 font-family: verdana, arial, sans-serif;
 font-size: 10px; 
 font-weight: bold; 
 text-decoration: none}

/* Telas de movimentacao */
.tablabel {
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	border-top: 1px none #604311;
	border-right: 1px none #604311;
	border-bottom: 1px inset #604311;
	border-left: 1px none #604311;
	padding-left: 2px;
}

.tabcad {
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	border: none;
}

.cad { 
 font-weight: none;
 font-size: 12px;
 color:#000000;
 font-family: verdana, arial, helvetica, sans-serif;
 border-top: #000000 1px ridge;
 border-bottom: #000000 1px ridge;
 border-left: #000000 1px ridge;
 border-right: #000000 1px ridge;
 background-color: #979200;
}

.label { 
 font-weight: bold; 
 font-size: 12px; 
 color: #000000; 
 font-family: verdana, arial, helvetica, sans-serif;
}